.card{
    border: solid 1px #a0e89f;
    padding: 2rem 2rem;
    margin: 1rem 8rem;
    border-radius: 1em
}

.content {
  white-space: pre-wrap;
  background: #d8c4c4;
  padding: 15px;
  margin-bottom: 10px;
}

.error {
  color: red;
}
