.card{
    border: solid 1px #a0e89f;
    padding: 2rem 0;
    margin: 1rem 8rem;
    border-radius: 1em
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
  width: 50%;
  margin: auto;
}

.textarea {
  min-height: 120px;
  padding: 10px;
  font-size: 14px;

  border-radius: 8px;
  border: 1px solid #ccc;
  outline: none;
  transition: all 0.3s ease;
}

.input {
  padding: 8px;
}

.button {
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}

.result {
  margin-top: 15px;
  word-break: break-all;
}

.error {
  color: red;
}

.formInput {
  padding: 10px;
  font-size: 14px;
  border-radius: 8px;
  border: 1px solid #ccc;
  outline: none;
  transition: all 0.3s ease;
}

.formInput:focus,
.textarea:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.3);
}

.createButton {
  width: 40%;
  padding: 8px 8px;
  font-size: 14px;
  border: none;
  border-radius: 8px;
  background: #007bff;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-top: 15px;
}


.createButton:hover {
  background: #0056b3;
}