.card{
    display: flex;
    flex-direction: column;
    gap: 12px
}

.textarea{
    min-height: 200px;
    padding: 10px;
    font-size: 14px;
}


.input{
    padding: 8px;
}

.button{
    padding: 10px;
    font-size: 16px;
    cursor: pointer
}

.result{
    margin-top: 15px;
    word-break: break-all
}

.error{
    color:red
}